# dependencies
**/node_modules
/.pnp
.pnp.js


# production
react-app/build


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environments
flask_app/venv/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

__pycache__/
