.App {
    min-height: 100vh;
}

.App-header {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(97, 97, 97);
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
}

.title {
    margin: 0 0 45px 0;
    color: #333;
    font-size: 1.5rem;
    text-align: center;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .11);
    font-size: 16px;
    transition: none;
    cursor: text;
    height: 44px;
    margin: 0 auto;
    border: 1px solid #aaa;
    border-radius: 3px;
    background: rgb(255, 255, 255);
}

.Q {
    color: #888;
}

.q-input {
    background: rgb(255, 255, 255);
    border: none;
    padding-inline-start: 10px;
    width: 100%;
    height: 100%;
}

.q-input:focus {
    outline-width: 0;
}

.search-button {
    margin: 25px;
    padding: 10px;
}

.item-text-box {
    display: flex;
    font-size: 1.2rem;
    margin: 20px 0 0 0;
}
.item-text {
    color: #777;
    margin-right: 10px; 
}


.table-wrapper {
    max-width: 900px;
    width: 100%;
    margin-top: 20px;
}

.statements-title {
    font-size: 1.5rem;
    margin: 50px 0;
}

.cell {
    padding: 5px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}




