@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #2092a1;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
}

