@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #2b7cd8;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #f9f9f9;*/
  background-color: rgb(246, 250, 255);
}

